* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abel";
  font-style: normal;
}

img {
  width: 330px;
  height: 280px;
}

.container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.container .header__inner {
  padding: 35px 0;
  background-color: rgba(46, 44, 44, 0.75);
}
.container .header__inner .nav {
  margin: 0 100px;
  margin-left: 128px;
}
.container .header__inner .nav a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s;
}
.container .header__inner .nav a:hover {
  color: rgb(239, 73, 73) !important;
}
.container .header__inner .nav .nav__logo {
  font-family: "Urbanist";
  font-style: normal;
  font-size: 27px;
  padding: 0 135px 0 135px;
}
.container .header__inner .nav .nav__link {
  padding-right: 35px;
  font-size: 20px;
}
.container .header__text {
  height: 450px;
  width: 550px;
  color: #FFFFFF;
  margin: 200px 0 200px 120px;
  padding: 30px;
  font-size: 19px;
  background-color: rgba(46, 44, 44, 0.75);
}
.container .header__text h1 {
  padding-bottom: 35px;
}
.container .header__text p {
  line-height: 30px;
}

main {
  width: 100%;
  max-width: 1920px;
}
main h1 {
  margin: 55px 0 55px 70px;
}
main .first_sec {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .first_sec p {
  text-align: center;
}
main .first_sec .object {
  width: 330px;
  margin-bottom: 100px;
}
main .first_sec .object .name {
  font-size: 17px;
  margin: 5px 0;
  color: #333333;
  letter-spacing: 0.1em;
}
main .first_sec .object .h1_p {
  font-size: 30px;
  margin-bottom: 5px;
  color: #333333;
}
main .first_sec .object .address {
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 17px;
  margin-bottom: 20px;
}
main .first_sec .object .button__more {
  background-color: #333333;
  width: 150px;
  height: 35px;
  transition: all 0.15s;
  border-radius: 20px;
  font-size: 15px;
  color: #FFFFFF;
  padding: 6px 40px 6px 40px;
  margin-left: 90px;
  font-family: "Urbanist";
}

.second_h1 {
  margin: 0 0 55px 70px;
  font-size: 31px;
}

.object .button__more:hover {
  cursor: pointer;
  background-color: rgb(179, 13, 13) !important;
}

.second__main {
  background-color: #FBFBFB;
}

.main__second {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__second .object_sec {
  width: 330px;
  margin-bottom: 100px;
}
.main__second .object_sec .object__inner {
  margin-left: 20px;
  background-color: #FFFFFF;
  padding-bottom: 30px;
}
.main__second .object_sec .object__inner .name_sec {
  font-size: 17px;
  margin: 5px 0;
  color: #333333;
  letter-spacing: 0.1em;
}
.main__second .object_sec .object__inner .h1_p_sec {
  font-size: 30px;
  margin-bottom: 5px;
  color: #333333;
}
.main__second .object_sec .object__inner .address_sec {
  color: #333333;
  letter-spacing: 0.1em;
  font-size: 17px;
  margin-bottom: 20px;
}
.main__second .object_sec .object__inner .more__inner p {
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #000000;
  transform: translateX(110px);
  transition: 0.2s;
  margin-left: 10px;
}
.main__second .object_sec .object__inner .more__inner .more_border {
  border: 1px solid #333333;
  width: 80px;
  transform: translateY(10px);
  transition: all linear 0.2s;
  margin-left: 20px;
}

.more__inner:hover .more_border {
  width: 20px !important;
  cursor: pointer;
}

.more__inner:hover p {
  transform: translateX(50px) !important;
  cursor: pointer;
}

.button__apartment {
  display: flex;
  justify-content: center;
  background-color: #333333;
  border-radius: 33px;
  width: 350px;
  height: 50px;
  margin: 100px auto;
  transition: 0.15s;
}
.button__apartment p {
  color: #FFFFFF;
  padding: 15px 90px 15px 90px;
}

.button__apartment:hover {
  background-color: rgb(179, 13, 13) !important;
  cursor: pointer;
}

.third_h1 {
  margin: 0 0 55px 70px;
}

.about_company {
  margin: 100px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_company .information {
  width: 47%;
  letter-spacing: 0.03em;
  color: #333333;
}

.fourth_h1 {
  margin: 0 0 55px 70px;
}

.Payment_methods {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 100px 100px;
}
.Payment_methods .col {
  width: 30%;
}
.Payment_methods .col .col_h1 {
  letter-spacing: 0.03em;
  font-size: 27px;
}

.last_section {
  display: flex;
  justify-content: space-between;
  margin: 100px 80px;
  align-items: center;
  color: #333333;
}
.last_section li {
  cursor: pointer;
}
.last_section .links ul {
  display: flex;
}
.last_section .links ul li {
  margin-right: 50px;
}
.last_section .contacts__footer .h1__contacts {
  font-size: 23px;
  line-height: 40px;
}
.last_section .contacts__footer .margin {
  margin-bottom: 20px;
}
.last_section .links {
  color: gray;
}
.last_section ul li {
  list-style-type: none;
}
.last_section .footer__img {
  width: 250px;
  height: 220px;
}
.last_section .footer__img img {
  width: 250px;
  height: 220px;
}
.last_section .social img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  font-size: 13px;
  color: gray;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
